<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back" class="darkModeToggle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon name="moon" slot="icon-only" class="darkModeToggle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; width: 100%;"  class="header">Kapı Seçimi</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedGate">
      <ion-item>
        <ion-label class="selectGateNumber">A Kapısı</ion-label>
        <ion-radio value="A Kapısı" class="radiobtn"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label class="selectGateNumber">B kapısı</ion-label>
        <ion-radio value="B Kapısı" class="radiobtn"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label class="selectGateNumber">C Kapısı</ion-label>
        <ion-radio value="C Kapısı" class="radiobtn"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
 
</ion-content>

<ion-footer>
  <ion-item *ngIf="selectedGate" class="bottomLabel">
    <ion-label>Seçilen Kapı</ion-label>
    <ion-text>{{ selectedGate }}</ion-text>
  </ion-item>
  <ion-button class="save" (click)="login()" fill="solid" expand="full" size="large">KAPI GİRİŞ SEÇ</ion-button>
</ion-footer>