

.bottomLabel{
    font-weight: bold;
    color: #ff6600;
    font-size: 20px;
}

.nextBtn{
  font-weight: bold;
    color: #ffff;
    font-size: 25px;
}

.radiobtn{
    
    --color-checked: black; 
    
}
.save{
  --background: #6080d6;
}
.login-inputt{
    font-weight: 700;
  }