.heading{
    font-size: 32px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 70px;
    margin-bottom: -60px;
    color: blue;
}
.para{
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    margin-bottom: 70px;
    color: #A6ABB1;
}
.input-item{
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid #eccccc;
    height: 70px;
    background-color: rgb(224, 224, 224);
   &:focus-within {
    border: 4px solid #ab0000;
  }
    ion-input{
        margin-top: -12px;
    }
}
.ion-item{
    margin-top: 20px;
    
}
.login-button{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    --border-radius: 12px;
    margin-top: 60px;
    --box-shadow: none;
    --background: #5585b5;
}
ion-footer {
    display: block;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
}
