<ion-content [fullscreen]="true" class="custom-background">
  <div class="container"  *ngIf="screen == 'signin'">
    <h1 class="heading">🛳️ KUMPORT<br><br></h1>
    <p class="para">Giriş Yap</p>
    <form [formGroup]="formData" class="form-d">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email</legend> 
          <ion-input formControlName="email" type="email" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Şifre</legend> 
          <ion-input formControlName="password" type="password" placeholder="*******"></ion-input>
        </fieldset>
      </ion-item>
      <ion-button class="login-button" (click)="login()" expand="block">Giriş</ion-button>
    </form>
  </div>
</ion-content>
